<style>
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 300px;
}
</style>
<h1> Jerryisms </h1>
<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
	        <% @jerryisms.each do |jerryism,list_pos|%>
		    <div class="item">
                        <div class="carousel-content">
                            <h2 class="text-center"><%= jerryism.text %> </h2>
			</div>
                    </div>
		<% end %>
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>


<script>
 $(document).ready(function() {
    $('#carousel-example .carousel-inner > .item:first').addClass('active');
 });
</script>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jerryisms.each do |jerryism| %>
      <tr>
        <td><%= jerryism.text %></td>
        <td><%= jerryism.created_by %></td>
        <td><%= link_to 'Show', jerryism %></td>
        <td><%= link_to 'Edit', edit_jerryism_path(jerryism) %></td>
        <td><%= link_to 'Destroy', jerryism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jerryism', new_jerryism_path %>
