<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @jerryism.text %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @jerryism.created_by %>
</p>

<%= link_to 'Edit', edit_jerryism_path(@jerryism) %> |
<%= link_to 'Back', jerryisms_path %>
