<!DOCTYPE html>
<html>
<head>
  <title>Jerryisms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:transparent">
 <% if flash[:notice] %>
    <div class="notice alert alert-success" role="alert" style="width:30%;margin:20px"><%= flash[:notice] %></div>
  <% end %>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
<style>
  html { 
  background: url(<%= asset_path 'Jerry-Wise-Budha.png' %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
